name: Build & Publish to PyPI

on:
  push:
    branches:
      - main
    paths:
      - "CUSTOMPACKAGES/common_helper/**"
      - "pyproject.toml"
      - "README.md"

jobs:
  build_publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Clean previous builds
        run: rm -rf build dist *.egg-info

      - name: Build package
        run: |
          python -m build
          ls -l dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.10
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
