name: Build & Publish to PyPI

on:
  push:
    branches:
      - main
    paths:
      - "CUSTOMPACKAGES/**"
      - "pyproject.toml"
      - "README.md"
  release:
    types: [published]

jobs:
  build:
    name: Build package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: |
          python -m build
          ls -l dist/

      - name: Publish to PyPI (Only on Release)
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@v1.8.10
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
